html, body {
  overflow-x: hidden;
}

body {
  color: #000;
  font-family: "Open Sans";
  font-size: 14px;
  margin: 0;
}

header {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 40px 5%;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  max-width: 1120px;
  padding-bottom: 24px;
  padding-top: 40px;
  align-items: center;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1120px;
  align-items: center;
  font-size: 12px;
  font-weight: 300;
  color: #575757;
  padding-bottom: 40px;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  margin: 0;
}

h2 {
  font-size: 14px;
  font-weight: 600;
  margin: 8px 0;
}

.line {
  max-width: 800px;
  height: 1px; /* Thickness of the line */
  background: #d9d9d9;
}

.col1 {
  flex: 1 1 800px;
  margin-right: 32px; /* Spacing between the text and the line */
}

.col2 {
  flex: 0 0 290px;
  text-align: left;
}

.tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 0px;
  max-width: 1120px;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding-bottom: 56px;
}

.tabs button {
  padding: 4px 0px;
  transform: translate(832px);
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;
  color: #000000;
  border-radius: 24px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 300;
}

.tabs button.active {
  text-decoration: underline;
  color: #000000;
  font-weight: 600;
}

/* Portfolio Section */
.portfolio {
  max-width: 1120px;
  margin: 0 auto;
}

.project {
  max-width: 1120px;
  display: flex;
  margin-bottom: 80px;
  gap: 32px;
  padding-bottom: 80px;
  flex-wrap: wrap;
}

.about {
  width: 1120px;
  margin: 0 auto;
}

.contact {
  width: 1120px;
  margin: 0 auto;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 290px;
  aspect-ratio: 80 / 29;
}

.mySlides {
  display: none;
}

.project-description {
  margin: 0px 0px;
  font-weight: 300;
  max-width: 280px;
}

.project-description p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.lastproject {
  display: flex;
  /* flex-wrap: wrap; */
  margin-bottom: 120px;
  gap: 32px;
  padding-bottom: 80px;
}

.year {
  font-weight: 300;
}

img,
video {
  position: absolute;
  max-width: 100%; /* Image will never be wider than its container */
  height: auto; /* Maintains aspect ratio */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Fixed container size before video plays */
.video-container {
  position: relative;
  width: 800px; /* Set gallery size */
  height: 290px; /* Initial height */
  aspect-ratio: 80 / 29;
  overflow: hidden; /* Hide parts of the video that exceed the container */
}

/* Video initially covers the fixed size */
.video2 {
  width: 100%;
  height: auto;
}

/* Play button styling */
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: white;
  padding: 1px;
  cursor: pointer;
  display: block; /* Visible on load */
}

.video-container.playing {
  position: relative;
  height: 290px; /* Remove fixed height */
  overflow: visible; /* Hide parts of the video that exceed the container */
}

/* Hide play button when playing */
.video2.playing + .play-button {
  display: none;
}

* {
  box-sizing: border-box;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  transform: translate(0, -50%);
  top: 50%;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
  width: 40px; /* or your preferred size */
  height: 40px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.column1 {
  float: left;
  width: 100px;
}

.column2 {
  float: left;
  width: 400px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .col1 {
    flex: 1 1 800px;
    margin-right: 16px; /* Spacing between the text and the line */
    margin-left: 16px;
  }

  .col2 {
    flex: 0 0 165px;
  }

  h1 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
  }

  .tabs {
    display: flex;
    max-width: 1120px;
    margin: 0 16px;
    gap: 8px;
    flex-direction: row;
    padding-bottom: 24px;
  }

  .tabs button {
    padding: 4px 0px;
    transform: translate(0);
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 300;
  }

  .portfolio {
    max-width: 1120px;
    margin: 0;
    height: auto;
  }

  .project {
    margin-bottom: 24px;
    gap: 8px;
    padding-bottom: 16px;
  }

  .project-description {
    width: 100%;
    margin: 0px 16px;
    font-weight: 300;
    max-width: 100%;
    padding-bottom: 0px;
  }

  .project-description p {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: auto; /* Initial height */
    overflow: hidden; /* Hide parts of the video that exceed the container */
  }

  .video2 {
    width: 100%;
    height: auto;
  }

  .video-container.playing {
    position: relative;
    width: 100%;
    height: auto; /* Initial height */
    overflow: visible; /* Hide parts of the video that exceed the container */
  }

  footer {
    margin: 0px 16px;
    padding-bottom: 16px;
  }
}
